// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'jordy';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.legend {
  position: absolute;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid;
}
.legend h4 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
}
.legend ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.legend li { padding-bottom: 5px; }
.legend span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
html, body{
  height: 100%;
  margin: 0;
}
// Footer
#copyright {
  color: white;
}
.bg-dark-light {
  background: #323232 !important;
  text-align: center;
  margin-bottom: -50px;
  min-height: 100%;
}
.widgets.footer-widgets .widget-contact ul li {
  color: #000;
  font-size: 13px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.widgets.footer-widgets .widget-contact ul li {
  color: #000;
  font-size: 13px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
// footer